* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    min-height: 100px;
    background-color: #255EE9;
    color: #fff;
}

header a {
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}

header p {
    padding: 15px 0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    line-height: 35px;
    height: 35px;
}

/* Link navbar */
.links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    min-width: 42%;
}

/* Bottone accedi */
.login-button a {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 15px;
}

.login-button a {
    color: #271E19;
}

/* Contenuto header */
.main-header {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 30px 0;
}

/* Bottoni parte centrale header */
.header-buttons a {
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 18px;
}

.download-btn {
    background-color: #fff;
    color: #271E19;
}

.download-btn:before {
    content: '\1F817';
    padding: 0 2px;
}

.discord-btn {
    background-color: #23272A;
}

/* Sezioni - contenuto principale */
.main-section > .container {
    display: flex;
    justify-content: center;
}

.main-section .container > div {
    width: 50%;
    padding: 10px;
}

.main-section:nth-child(even) > .container {
    flex-direction: row-reverse;
}

.main-section:nth-child(even) {
    background-color: #F6F6F6;
}

/* Footer */
footer {
    min-height: 80px;
    background-color: #23272A;
    color: #fff;
}

footer a {
    text-decoration: none;
}

footer ul {
    list-style-type: none;
}

.left-footer {
    width: 25%; 
}

.right-footer {
    justify-content: space-between;
    width: 75%; 
}

.top-footer, .right-footer {
    display: flex;
}


